<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>V-for</title>
</head>
<style>
    
    
</style>
<body> 
    <div id="app">

        <ul>
            <li v-for="(curso, key) in cursos">{{ key+1 }} - {{ curso }}</li>
        </ul>
        <hr>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(curso, key) in cursos2">
                    <td>{{ key }}</td>
                    <td>{{ curso.titulo }}</td>
                    <td>{{ curso.descricao }}</td>
                </tr>
            </tbody>
        </table>
      
    </div>

    <script>

        const vm = new Vue({
            el: '#app', 
            data:{
                cursos: ['Laravel', 'Web Completo', 'Banco de Dados', 'Solid', 'Angular'],
                cursos2: {
                    1000:{
                        titulo: 'Laravel',
                        descricao: 'Domine o framework PHP mais poderoso do mundo'
                    },
                    1001:{
                        titulo: 'Banco de dados',
                        descricao: 'Aprenda os principais BDs relacionais do mercado'
                    }
                }
            },
            methods: {
               
            }
        });

    </script>
</html>
