<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>V-IF</title>
</head>
<style>
    
    
</style>
<body> 
    <div id="app">
  
        <button @click="exibirSaldo = !exibirSaldo">
            <span v-if="exibirSaldo">Ocultar Saldo</span>
            <span v-if="!exibirSaldo">Exibir Saldo </span>
        </button><!-- toggle -->
        <p>Saldo: <span v-if="exibirSaldo">R${{saldo}}</span></p>
        <hr>

        <!-- v-if e v-else -->
        Idade: <input type="text" id="inputIdade" @blur="setIdade()">
        <p v-if="idade == 0"> Insira sua idade</p>
        <p v-else-if="idade < 18"> Menor de idade</p>
        <p v-else> Maior de idade</p>

        <!-- v-if, v-else-if e v-else -->
         <hr>
        Nota: <input type="text" id="inputNota" @blur="setNota()">
        <p v-if="nota == ''"> Digite a nota do aluno</p>
        <p v-else-if="nota >= 7 && nota <= 10"> Aluno Aprovado</p>
        <p v-else-if="nota >= 5 && nota <= 7"> Aluno em Recuperação</p>
        <p v-else-if="nota >=0 && nota < 5"> Aluno Reprovado</p>
        <p v-else>Nota inválida</p>


    </div>

    <script>

        const vm = new Vue({
            el: '#app', 
            data: {
             saldo: 4570.17,
             exibirSaldo: false,
             idade: 0,
             nota: 0
            },
            methods: {
                setIdade(){
                    this.idade = inputIdade.value
                },
                setNota(){
                    this.nota = inputNota.value
                    console.log(this.nota)
                }
            }
        });

    </script>
</html>
